[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
udi-interface = "*"
requests = "*"
aiohttp = "*"
pyoverkiz = ">=1.13.0"

[dev-packages]
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
pytest-asyncio = "*"
